/*
	ratingframe.css
	Copyright © 2010 - 2012  WOT Services Oy <info@mywot.com>

	This file is part of WOT.

	WOT is free software: you can redistribute it and/or modify it
	under the terms of the GNU General Public License as published by
	the Free Software Foundation, either version 3 of the License, or
	(at your option) any later version.

	WOT is distributed in the hope that it will be useful, but WITHOUT
	ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
	or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public
	License for more details.

	You should have received a copy of the GNU General Public License
	along with WOT. If not, see <http://www.gnu.org/licenses/>.
*/

body {
	overflow: hidden;
	padding: 10px;
}

#wot-reputation-bg {
	background-color: white;
	border-radius: 5px 5px;
    border: #bdbdbd solid 2px;
	display: block;
	padding: 7px;
	min-height: 28px;
	min-width: 28px;
}

#wot-reputation {
	background: url("../skin/fusion/28_28/default.png") top left no-repeat;
	cursor: pointer;
	display: block;
	height: 28px;
	width: 28px;
}

#wot-reputation.unrated {
    height: 30px;
    width: 32px;
}

#wot-reputation[reputation="r0"] {
	background-image: url("../skin/fusion/28_28/r0.png");
}

#wot-reputation[reputation="r1"] {
    background-image: url("../skin/fusion/28_28/r1.png");
}

#wot-reputation[reputation="r2"] {
    background-image: url("../skin/fusion/28_28/r2.png");
}

#wot-reputation[reputation="r3"] {
    background-image: url("../skin/fusion/28_28/r3.png");
}

#wot-reputation[reputation="r4"] {
    background-image: url("../skin/fusion/28_28/r4.png");
}

#wot-reputation[reputation="r5"] {
    background-image: url("../skin/fusion/28_28/r5.png");
}

#wot-reputation.unrated[reputation="r1"] {
    background-image: url("../skin/fusion/28_28/r1_new.png");
}

#wot-reputation.unrated[reputation="r2"] {
    background-image: url("../skin/fusion/28_28/r2_new.png");
}

#wot-reputation.unrated[reputation="r3"] {
    background-image: url("../skin/fusion/28_28/r3_new.png");
}

#wot-reputation.unrated[reputation="r4"] {
    background-image: url("../skin/fusion/28_28/r4_new.png");
}

#wot-reputation.unrated[reputation="r5"] {
    background-image: url("../skin/fusion/28_28/r5_new.png");
}


#wot-reputation[reputation="rx"] {
    background-image: url("../skin/fusion/28_28/rx.png");
}

#wot-reputation.accessible {
    background-image: url("../skin/fusion/accessible/28_28/default.png");
}

#wot-reputation.accessible[reputation="r0"] {
    background-image: url("../skin/fusion/accessible/28_28/r0.png");
}

#wot-reputation.accessible[reputation="r1"] {
    background-image: url("../skin/fusion/accessible/28_28/r1.png");
}

#wot-reputation.accessible[reputation="r2"] {
    background-image: url("../skin/fusion/accessible/28_28/r2.png");
}

#wot-reputation.accessible[reputation="r3"] {
    background-image: url("../skin/fusion/accessible/28_28/r3.png");
}

#wot-reputation.accessible[reputation="r4"] {
    background-image: url("../skin/fusion/accessible/28_28/r4.png");
}

#wot-reputation.accessible[reputation="r5"] {
    background-image: url("../skin/fusion/accessible/28_28/r5.png");
}

/* unrated icon for accessible style */
#wot-reputation.accessible.unrated[reputation="r1"] {
    background-image: url("../skin/fusion/accessible/28_28/r1_new.png");
}

#wot-reputation.accessible.unrated[reputation="r2"] {
    background-image: url("../skin/fusion/accessible/28_28/r2_new.png");
}

#wot-reputation.accessible.unrated[reputation="r3"] {
    background-image: url("../skin/fusion/accessible/28_28/r3_new.png");
}

#wot-reputation.accessible.unrated[reputation="r4"] {
    background-image: url("../skin/fusion/accessible/28_28/r4_new.png");
}

#wot-reputation.accessible.unrated[reputation="r5"] {
    background-image: url("../skin/fusion/accessible/28_28/r5_new.png");
}


#wot-reputation.accessible[reputation="rx"] {
    background-image: url("../skin/fusion/28_28/rx.png");
}
