/* This styles override ratingwindow.css for injected RatingWindow, which is used
 only for old Safari (<5.1) without Popover feature */

body {
	padding: 10px;
}

#wot-ratingwindow {
    padding: 20px;
    width: 400px;
    background-color: white;
    border: 2px solid silver;
    border-radius: 4px;
    font-family: Arial;
}
